.fornecedores-table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fornecedores-table{
    margin: 0.7em 0.6em;
}

.fornecedores-table .checkbox-table{
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;
}

.fornecedores-table .commands-table .action-button:nth-child(n){
    margin-right: 5px;
}

form .fornecedor-logo{
    max-width: 25em;
    max-height: 20em;
}